.rdp {
  --rdp-cell-size: 40px;
  --rdp-caption-font-size: 18px;
  --rdp-background-color: hsl(var(--card));
  --rdp-color: hsl(var(--card-foreground));
  --rdp-accent-color: hsl(var(--primary));
}

.rdp-day_selected {
  background-color: hsl(var(--primary)) !important;
  color: hsl(var(--primary-foreground)) !important;
}

.rdp-day_today {
  color: hsl(var(--primary)) !important;
  font-weight: bold;
}

.rdp-button:hover:not([disabled]):not(.rdp-day_selected) {
  background-color: hsl(var(--accent)) !important;
}

.rdp-nav_button {
  color: black;
}

/* ensure SVG navigation icons are black */
.rdp-nav_button svg {
  color: black;
  fill: currentColor;
  stroke: currentColor;
}

.rdp-head_cell {
  color: black;
}

.rdp-head_cell:nth-child(6) {
  color: #7DA7E3;
}

.rdp-head_cell:nth-child(7) {
  color: #F36B6B;
}
